<div>
    <form action = 'addShow' method="post" autocomplete="off">
        <input type="hidden" name="_id"">
        <div class = "form-group">
            <label>Show Name:</label>
            <input type = "text" class = "form-control" name="showname", placeholder="Show Name"">
        </div>
        <div class = "form-group">
            <label>Director:</label>
            <input type = "text" class = "form-control" name="director", placeholder="Director"">
        </div>
        <div class = "form-group">
            <label>Show time:</label>
            <input type = "text" class = "form-control" name="showtime", placeholder="Show Time"">
        </div>
        <div class = "form-group">
            <label>Show Location:</label>
            <input type = "text" class = "form-control" name="showlocation", placeholder="Show Location">
        </div>
        <div class = "form-group">
            <label>Show Description:</label>
            <input type = "text" class = "form-control" name="showdescription", placeholder="Show Description"">
        </div>
        <div class = "form-group">
            <label>Show Pic Url:</label>
            <input type = "text" class = "form-control" name="showpicurl", placeholder="Show Pic Url">
        </div>
        <div class = "form-group">
            <label>Available Tickets:</label>
            <input type = "text" class = "form-control" name="availabletickets", placeholder="Available Tickets">
        </div>
    </form>
    <div class = "form-group">
        <button type = "submit" class = "btn btn-info"><i class = "fa fa-database"></i> Submit</button>
    </div>
</div>