 <div>

   <%if(ifFindUser != null) {%>
     <a href="/updateShow"><button class = "btn btn-info"><i class = "fa fa-database"></i> Update Show List </button></a>
   <%} else {%>
     <% } %>

    <table class="table table-striped">
      <thead>
      <tr>
        <th>Show Name</th>
        <th>Poster</th>
        <th>View Show</th>
      </tr>
      </thead>
      <tbody>
      <% list.forEach(show => { %>
      <tr>
        <td><%= show.showname %></td>
        <td><img src="<%= show.showpicurl %>" style="width:300px; height:400px" alt ="show poster"/> </td>
        <td><a href="./individualShow/<%= show._id %>">View Show</a></td>
      </tr>
      <% }) %>
      </tbody>
    </table>
  </div>
