<div>
  <h4>Your Cart</h4>
</div>
<hr>
<div class="row">
  <div class="col-sm-4">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td>Your name</td>
            <td><%= user.googlename %> </td>
          </tr>
          <tr>
            <td>Your email</td>
            <td><%= user.googleemail %> </td>
          </tr>
        </tbody>
      </table>

  </div>
</div>

<div class="row">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Show Name</th>
      <th># of Tickets purchased:</th>
    </tr>
    </thead>
    <tbody>
    <% for (var i = 0; i < user.cart.length; i++) { %>
    <tr>
      <td><%= user.cart[i] %></td>
      <td><%= user.cartNumber[i]%></td>
    </tr>
    <% } %>
    </tbody>
  </table>
</div>
